<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #333;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <header><h1>About ULD</h1></header>

    <h2>            Landslides cause significant destruction, often burying people under debris and making 
        rescue operations extremely challenging. Traditional methods are time-consuming and 
        ineffective for deep or unstable terrain.
        To design an IoT based system for Real-time detection and communication to rescue 
        landslide victims</h2>

    <p><h2><i>PROPOSED SOLUTION:</i></h2></p>
        <h3>      Our project uses seismic sensor(ADXL345 accelerometer) to detect human movement 
        underground. This enables us to check whether the person is alive or not. The Arduino 
        MKR WAN 1310 collects seismic data and transmits it via LoRa to AWS for real-time 
        analysis. Rescue team access the data from AWS cloud and using the location of the 
        device they can rescue victims based on priority(number of person alive).</h3></p>
        <img src=

    <p><h2><i>EFFICIENCY AND PRODUCTIVITY:</i></h2>
        <h3>    ▪ Less time-consumption for detection and communication,can explore deep 
        sites(than GPR).</h3>
        <h3>    ▪ Our system is a grid-type system so it could be used for larger impact 
        radius(cover large area).</h3>
        <h3>    ▪ Handy, Portable, Light-weight and Accurate.</h3></p>
        <title><h2>Hardware and Software</h2></title>
        <table border="1" align="centre">
            <tr>
                <th>Hardware</th>
                <th>Software</th>
            </tr> 
            <tr>
                <td>UWB Sensor</td>
                <td>Firebase</td>
            </tr>    
            <tr>
                <td>Temperature monitoring sensor</td>
                <td>Arduino IDE</td>
            </tr>
            <tr>
                <td>ESP32</td>
                <td>ROS</td>
            </tr>    
            </td>
            </tr>   
        </table>
</body>
</html>